.main   {
    display:flex;
    background-color: #f5f9ff;
    height:100vh;
    width:100%;
    flex-direction:row;
    justify-content: space-evenly;

}

.input__text     {
    display:flex;
    align-items:center;
    align-self:center;
    justify-content: center;
    width:100%;
    height:100%;
}
.input__area    {
    width:500px;
    display:flex;
    align-self: center;
    margin-top:16%;
    background-color:rgba(250, 250, 250, 0.3);
    z-index: 3;
    border:none;
    border-radius:8px;
    text-indent:5px;
    font-size:1.7rem;
    color: #0A3871;

}
::placeholder   {
    z-index: -1;
    opacity: 1;
    color: #0A3871;
    font-weight:500;
}
.form__area {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:90px;
    height:100%;
}
.to-row {
    display:flex;
    flex-direction: row;
    gap:8px;
    flex-shrink:0;

}
.btn__encrypt   {
    display:flex;
    flex: 1 0 0;
    justify-content: center;
    font-size: 1.3em;
    color:white;
    width:330px;
    border-radius:20px;
    height:60px;
    font-weight:400;
    background-color:#0A3671;
    transform:translateY(0px);
    transition: transform 0.1s ease-in-out;
}
.btn__encrypt:active    {
    transform: translateY(3px);
}
.btn__encrypt:hover {
    font-weight: 500;
    background-color:#0a2240;
}
.bnt__decrypt   {
    display:flex;
    flex: 1 0 0;
    justify-content: center;
    color: #2d5c98 ;
    border:solid 1px #0A3671;
    font-size:1.3em;
    font-weight: 500;

    border-radius:20px;
    height:60px;
    background-color: #dfe1e3;
    transform:translateY(0px);
    transition: transform 0.3s ease-in-out;
}
.bnt__decrypt:active    {
    transform: translateY(3px);
}
.bnt__decrypt:hover {
    font-weight:500;
    background-color: #959ca3;
}
.project__title {
    height:fit-content;
    position:absolute;
    font-size:0.9em;
    padding:15px 0px 0px 10px;
    color:#0A3671;


}
.image__container   {
    width:100%;
}
.output__area   {
    display:flex;
    justify-content: center;
    align-items: center;
    width:450px;
    border-radius:20px;
    flex-direction:column;
    margin:20px;
    box-shadow: 1px 5px 8px 3px rgb(173, 172, 172);
    background-color:#fff;

}

.out__area   {
    font-size:1.1em;
    padding:10px;
    text-align:center;

}
.out__paragraph {
    font-size:1.1rem;
    text-align:center;

}
.deactivate_display {
    display:none;

}
.toUp   {
    display:flex;
    flex-direction:column;
    justify-self: flex-start;
    color:#014c6a;
    height:70vh;
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    padding:30px;

}
.btn__copy  {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #2d5c98 ;
    border:solid 1px #0A3671;
    font-size:1.5em;
    margin-top:30px;
    font-weight: 500;
    width:230px;
    height:60px;
    border-radius:20px;
    background-color: #dfe1e3;
    transform:translateY(0px);
    transition: transform 0.3s ease-in-out;
}
.btn__copy:active    {
    transform: translateY(3px);
}
.btn__copy:hover {
    font-weight: 500;
    background-color:#f1f1f1;
}

#none__article {
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    height:230px;
}

.rodarpe{
    padding: 24px 0;
    text-align: center;
    color: #22d4fd;
    background-color: #f6f6f6;
    font-size: 1.5rem;
    font-weight: 400;
}